footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    display: flex;
    border-top: 1px solid black;
    text-align: center;
}

footer .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid black;
    padding: 0 5px;
    width: 30%;
}

footer .btn-group button {
    height: 15%;
    border-radius: 5px;
    background-color: rgb(211,211,211);
}

footer .frame {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .frame .set-frame {
    height: 25%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

footer .frame .set-frame input {
    width: 40%;
}

footer .frame .set-frame .set-scan-region {
    width: 20%;
    border: 1px solid black;
}

footer .frame .set-frame select {
    width: 20%;
}

footer .frame .show-frame {
    height: 75%;
}

footer .frame .show-frame canvas {
    height: 100%;
}